body {
    background: no-repeat url("../resources/images/watercolors-413270.jpg");
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
}

.nav-bar-container {
    width: 100vw;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    flex-basis: 10%;
    justify-content: space-between;
    align-items: center;
    background: rgba(75, 39, 88, 0.7);
}

a:link {
    color: white;
}

a:visited {
    color: #7118a1;
}

a:hover {
    color: #ab80c2;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s ease 0s;
}

a:active {
    color: pink;
}

.nav-bar-title {
    font-size: 25px;
    margin-left: 15px;
    ;
    color: white;
    font-weight: bolder;
}

.nav-bar-username {
    display: flex;
    align-items: row;
}

.nav-bar-search {
    margin-top: 15px;
}

.nav-bar-other {
    margin-left: 20vw;
    margin-right: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.profile-userpic {
    height: 250px;
    width: 250px;
    border-radius: 20%;
}

.nav-bar-userpic-pic {
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.nav-bar-test-premium {
    display: flex;
    flex-shrink: 2;
}

.nav-bar-placeholder {
    height: 40px;
    width: 300px;
    border: 1px solid #707070;
    border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    color: #cccccc;
    font-size: 15px;
    font-family: "Segoe UI", serif;
}

.nav-bar-placeholder-button {
    display: flex;
    background-color: #7118a1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.nav-bar-dropdown-button {
    font-size: 15px;
    background-color: rgba(75, 39, 88, 0.7);
    color: white;
    border: 2px solid white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.nav-bar-dropdown-button:hover {
    color: #ab80c2;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar-test-premium {
    border: 2px solid white;
    flex-shrink: 0;
}

.nav-bar-test {
    flex-shrink: 0;
}

.dropdown-menu {
    background-color: rgba(75, 39, 88, 0.7);
}

.home-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100vw;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: stretch;
}

.home-list {
    background-color: rgb(0, 0, 0, 0.3);
    width: 60vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.home-list-header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.home-list-text {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
}

.home-list-button {
    font-size: 30px;
    background-color: rgba(75, 39, 88, 0.7);
    color: white;
    border: 2px solid white;
    -webkit-transition-duration: 0.4s;
}

.home-list-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.home-footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 10%;
    background-color: rgba(75, 39, 88, 0.8);
}

.home-footer-item {
    margin-right: 15px;
    margin-left: 15px;
}

.tg {
    display: flex;
    color: white;
}

.tg-align-center {
    display: flex;
    justify-content: space-around;
}

.profile-userpic-container {
    display: flex;
    justify-content: space-around;
}

.tg-0pky {
    color: white;
}

.tg-0lax {
    color: white;
}

.tg-text {
    color: white;
}

.top-row {
    width: 100%;
}

.bottom-row {
    width: 100%;
}

.growing {
    flex-grow: 1;
}

.login-card {
    margin: 80px;
    margin-left: auto;
    margin-right: auto;
}

.login-form-margin {
    margin-top: 40px;
}

.mh {
    color: #7118a1;
    display: flex;
    align-items: space-around;
}

.mha {
    margin-top: auto;
    margin-bottom: auto;
}

.w-82 {
    width: 82%;
}

.profile-cell1 {
    display: table-cell;
    vertical-align: top;
}

.user-block {
    width: 300px;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    border: 2px solid #FFF;
}

.menu-link {
    display: block;
    padding: 10px 0 10px 40px;
    background-repeat: no-repeat;
    background-position: 0px 12px;
    color: #000;
}

.profile-cell2 {
    display: table-cell;
    width: 10px;
}

.profile-cell3 {
    display: table-cell;
    width: 300px;
}

.btn-grey {
    background: #91A7C0;
    color: #FFF;
}

.container600 {
    width: 600px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.headline {
    color: #91A7C0;
    margin: 50px 0;
    font-size: 32px;
    font-weight: bold;
}

.match-card {
    width: 600px;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    border: 2px solid #FFF;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-user {
    display: inline-flex;
}

.subheadline {
    color: #91A7C0;
}

.card-user-info {
    display: block;
}

.semibold {
    font-weight: 600;
}

.card-buttons {
    display: flex;
}

.container1200 {
    width: 1200px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.events-column {
    display: table-cell;
    vertical-align: top;
    width: 930px;
}

.filters-column {
    display: table-cell;
    vertical-align: top;
    width: 250px;
}

.filters {
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    border: 2px solid #FFF;
}

.event-card {
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    border: 2px solid #FFF;
    margin-bottom: 30px;
}

.row-nm {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container930 {
    width: 930px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.b-radius {
    border-radius: 20px;
}

.m-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}

.review-full {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
}

label:valid {
    color: #000 !important;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}